body{
	width: 100%;
	height: 100%;
    background: url("../img/background.png") center;
    background-repeat: no-repeat;
    background-size:auto 100%;
}
html{
    height: 100%;
}

.container{
    padding-top: 50%;
}